.team {
  padding: 114px 0;
}
.team-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team .person-card {
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.team .person-card-avatar {
  width: 100%;
}
.team .person-card-avatar img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .person-card-name {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #2d3033;
  margin-top: 30px;
}
.team .person-card-post {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #ff4343;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 5px;
}
.team .person-card-descr {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin-top: 18px;
  color: #6c7279;
}
.team .person-card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 38px;
}
.team .person-card-link {
  width: 39px;
  margin-right: 6px;
  border: 1px solid #C6CBCD;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
}
.team .person-card-link a {
  display: block;
  width: 100%;
  height: 100%;
  color: #c6cbcd;
}