.header {
    min-height: 100vh;
    color: #fff;
    position: relative;
    padding-bottom: 120px;
    background: url('../img/bg-header.jpg') center no-repeat;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(37, 43, 73, .8);
    }

    .container {
        position: relative;
    }
    &-layout {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        position: absolute;
        z-index: 1;
    }

    &-top {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid #BABBC5;
            position: absolute;
        }
    }
    &-logo {
        flex-basis: 40%;
        color: #656980;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        &::after {
            content: 'box';
            color: #fff;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
    &-nav {
        flex-basis: 60%;
    }
    &-list {
        display: flex;
        flex-flow: row wrap;
        align-items:flex-end;
    }
    &-link {
        flex-grow: 1;
        font-size: 0.8125rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        // position: relative;
        text-align: center;
        a {
            display: block;
            height: 100px;
            line-height: 100px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 1px;
                left: 0;
                border-bottom: 3px solid #BABBC5;
                transform: rotateY(90deg);
                transition: transform .7s;
            }
            &:hover::after {
                transform: rotateY(0deg);
            }
            &:active {
                color: #E71414;
            }
            &:active::after {
                border-color: #E71414;
            }
        }
    }

    &-content {
        display: flex;
        flex-flow: column wrap;
        padding-top: 130px;
        
    }
    &-title {
        font-size: 4rem;
        line-height: 4.6875rem;
        text-transform: uppercase;
        text-align: center;
    }
    &-description {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin-top: 1.9375rem;
        text-align: center;
    }
}



