.team {
    padding: 114px 0;
    &-list {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .person-card {
        max-width: 270px;
        display: flex;
        flex-flow: column nowrap;
        &-avatar {
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &-name {
            font-size: 1.5rem;
            line-height: 1.75rem;
            font-weight: 700;
            color: rgb(45, 48, 51);
            margin-top: 30px;
        }
        &-post {
            font-size: 1.125rem;
            line-height: 1.3125rem;
            color: rgb(255, 67, 67);
            text-transform: uppercase;
            font-weight: 400;
            margin-top: 5px;
        }
        &-descr {
            font-size: 1.125rem;
            line-height: 1.3125rem;
            margin-top: 18px;
            color: rgb(108, 114, 121);
        }
        &-links {
            display: flex;
            flex-flow: row nowrap;
            margin-top: 38px;
        }
        &-link {
            width: 39px;
            margin-right: 6px;
            border: 1px solid #C6CBCD;
            box-sizing:content-box;
            text-align: center;
            a {
                display: block;
                width: 100%;
                height: 100%;
                color: rgb(198, 203, 205);
            }
        }
    }
}